<mat-toolbar>
    <button mat-fab color="gray"> <i class="material-icons">home</i> </button>
    <span style="width: 5px;"></span>
    <button mat-fab color="gray"> <i class="material-icons">person_outline</i></button>
    <span style="width: 5px;"></span>
    <button mat-fab color="gray"> <i class="material-icons">airplay</i> </button>
    <span class="spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <i class="material-icons">favorite</i>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <i class="material-icons">share</i>
    </button>
</mat-toolbar>

<div class="container" style="width: 30%; margin: auto;"> 
    <h3>Welcome to my page</h3>
    <p>My Name is Safi Taher, i am Web developer from Hamburg, Germany</p>
</div>
<h3 style="margin:auto; width: 30%;"> My Skills </h3>


<mat-grid-list cols="3" rowHeight="3:1" style="margin: 5%;">
    <mat-grid-tile >
        <div style="width: 100%; margin: 5%; ">
            <h3>Front-back end</h3>
            <br>
            <mat-progress-bar mode="buffer" value="60"></mat-progress-bar>
            <span>CSS</span>
            <mat-progress-bar mode="buffer" value="60"></mat-progress-bar>
            <span>JavaScript</span>
            <mat-progress-bar mode="buffer" value="60"></mat-progress-bar>
            <span>TypeScript</span>
            <mat-progress-bar mode="buffer" value="60"></mat-progress-bar> 
            <span>C#</span>
            <mat-progress-bar mode="buffer" value="60"></mat-progress-bar> 
            <span>PHP</span>
            <mat-progress-bar mode="buffer" value="60"></mat-progress-bar> 
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
    <div style="width: 100%; margin: 5%;">
    <h3>Frameworks</h3>
    <br>
    <span>Angluar</span>
    <mat-progress-bar  mode="buffer" value="60"  color="warn"></mat-progress-bar> 
    <span>Blasor</span>
    <mat-progress-bar mode="buffer" value="60"  color="warn"></mat-progress-bar> 
    <span>React</span>
    <mat-progress-bar mode="buffer" value="60"  color="warn"></mat-progress-bar>
    <span>Laravel</span>
    <mat-progress-bar mode="buffer" value="60"  color="warn"></mat-progress-bar>
    </div>
    </mat-grid-tile>


    <mat-grid-tile >
    <div style="width: 100%; margin: 5%;">
        <h3>Database</h3>
        <br>
        <span>MySQl</span>
        <mat-progress-bar mode="buffer" value="60"  color="accent"></mat-progress-bar>
        <span>PostgreSQL</span>
        <mat-progress-bar mode="buffer" value="60"  color="accent"></mat-progress-bar>
    </div>
    </mat-grid-tile>
  </mat-grid-list>
  
